<header>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a *ngIf="!isLoggedIn" (click)="login()">Login</a>
        <a *ngIf="!isLoggedIn" (click)="register()">Register</a>
        <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      </div>
    </div>
    <div class="header">
      <span *ngIf="isLoggedIn">Welcome, <i>{{display}}</i>!</span>
    </div>
  </div>
  </header>
  <router-outlet></router-outlet>
